@import "tailwindcss";
body {
  background-color: #0b0f19; /* blueberry */
  color: #e0e7ff;
  font-family: "Inter", sans-serif;
}

/* Neon Glow */
.neon-glow {
  box-shadow: 0 0 12px #3b82f6, 0 0 20px #3b82f6,
    0 0 40px rgba(59, 130, 246, 0.7);
}

/* Glass Panel */
.glass-panel {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(16px);
  border-radius: 20px;
}

@import "tailwindcss";

@theme {
  --color-bg-dark: #0b0f19;
  --color-bg-light: #ffffff;
  --color-text-dark: #e0e7ff;
  --color-text-light: #1f2937;
}

html.dark {
  --bg: var(--color-bg-dark);
  --text: var(--color-text-dark);
}

html:not(.dark) {
  --bg: var(--color-bg-light);
  --text: var(--color-text-light);
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* From Uiverse.io by AspenBranch */
.container {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    45deg,
    #92c9b1,
    #92c9b1 20px,
    #b3e0d2 20px,
    #b3e0d2 40px
  );
}

.full-bg {
  width: 100%;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #92c9b1,
    #92c9b1 20px,
    #b3e0d2 20px,
    #b3e0d2 40px
  );
}

.full-bg-dark {
  width: 100%;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #0a1120,
    #0a1120 20px,
    #121c33 20px,
    #121c33 40px
  );
}
.transition-bg {
  transition: background 0.5s ease-in-out;
}
